// Tags
// --------------------------------------------------
h1, h2, h3, h4, h5, h6 { margin: 20px 0 10px; }

p { margin: 0 0 25px 0; }

a { border-bottom-color: $grey-light; }

hr {
  margin: 20px 0;
  height: 2px;
}

//remove sohu changyan notice
.module-cmt-notice {
 display:none;
}

#SOHUCS #SOHU_MAIN .module-cmt-box .post-wrap-w .post-wrap-main {
 background-image: none!important;
}